.selectedVideoToWatch {
  margin-top: 1rem;
  flex: 2;
}

.playvideoContainer {
  width: 600px;
  position: relative;
}

.playvideoContainer iframe {
  width: 100%;
  height: 450px;
  border-radius: 20px;
  margin-top: 1.5rem;
}

.videoDetailsCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--tertiary-color);
}

.videoName {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.videoName img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.videoIcons {
  display: flex;
  font-size: 1.4rem;
  gap: 0.7rem;
}

.videoPageContainer {
  display: flex;
  gap: 1.5rem;
}

.videoDIv {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
  height: 200px;
  width: 400px;
  overflow: hidden;
  border-radius: 15px;
}

.videoDiv_img img {
  height: 200px;
  width: 200px;
}

.videoParent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.navlink {
  text-decoration: none;
  color: var(--primary-color);
}

.navlink p:nth-child(1) {
  margin-top: 0;
}

.videoSvg {
  color: var(--primary-color);
}

.notesSections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 0.1px solid antiquewhite;
  border-radius: 10px;
}

.notesvgs {
  display: flex;
  gap: 0.4rem;
}
