.App {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 0 5rem;
}

:root {
  --primary-color: #50b7f5;
  --secondary-color: black;
  --teritay-color: grey;
}

.mid-section {
  margin-left: 1rem;
}
