.categoryContainer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  padding-left: 0;
}

.categorySpecial {
  cursor: pointer;
}

.navlink {
  text-decoration: none;
  color: var(--secondary-color);
}

.categorySpecial > img {
  object-fit: cover;
}
